<div class="authorization-container">
<h2>Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <p class="field">
    <%= f.email_field :email, autofocus: true, id: "email-field", placeholder: "email" %>
  </p>
<div class="button-container">
  <p class="actions">
    <%= f.submit "Send me instructions", id: "login-button"%>
    <hr class="hr">
  </p>
</div>
<% end %>

<%= render "devise/shared/links" %>
</div>