<h1>Simple todo lists</h1>
		<h3>From Ruby Garage</h3>
		<div id="main-container">

			<% @projects.each do |project| %>
					<div projectid="<%=project.id%>" class="project" >
						<div class="main-table">
							<div class="table-header">
								<form class="edit-project">
									<input class="edit-project-name" type="text">
									<button class="js-cancel-btn">Cancel</button>
									<button class="js-update-btn">Update</button>
								</form>
								<div class="ti ti-calendar table-name">
									<%= project.name %>
								</div>
								<div class="right-icon">
									<span class="ti ti-pencil right-line js-edit-project"></span>
									<span class="ti ti-trash js-delete-project"></span>
								</div>
							</div> <!--table-header-->

								<table class="task-table">
									<tbody>
										<tr>
												<th>
													<div class="plus"></div>
												</th>
												<th colspan="2">
													<form>
														<input class="task-name", type="text" name="add-task" placeholder="Start typing here to create a task..." />
														<input class="button js-add-task" type="submit" value="Add Task" />
													</form>
												</th>
											</tr>
									</tbody>
									<tbody id="tasks">

									<% project.tasks.each do |task| %>
										<tr id="<%= task.id %>">
											<td class="col-1">
												<input type="checkbox" class="js-task-status" <%= proper_checkbox_attr(task.status) %>/>
											</td>
											<td class="col-2">
												<p class="<%=proper_class(task.status)%>"><%= task.content %></p>
												<form class="edit-task-form">
													<input class="edit-task-content" type="text">
													<button class="js-cancel-task-btn">Cancel</button>
													<button class="js-update-task-btn">Update</button>
												</form>
											</td>
											<td class="col-3">
												<div class="table-icon">
													<span class="ti ti-split-v"></span>
													<span class="ti ti-pencil left-right-line js-edit-task"></span>
													<span class="ti ti-trash js-delete-task"></span>
												</div>
											</td>
										</tr>
									<% end %>
								</tbody>
								</table>

						</div> <!--main-table-->
					</div>
			<% end %>

		</div>




		<input id="new-project-name" type="text">
		<button id="create-project">Create</button>

		<div class="button-add-list">
			<div class="plus"></div><span>Add TODO List</span>
		</div>

		<div id="test-container">


		</div>

		<div class="copy">&#169 Ruby Garage</div>