!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title TodoList
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
  %body
    %header
      - if current_user
        .container
          %span.entered-with-email
            = "You entered with email:"
            %span
              =current_user.email
          = link_to "Sign out", destroy_user_session_path, method: :delete
        %h1 Simple todo lists
        %h3 From Ruby Garage
    = yield
